<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <p class="navbar-text navbar-left">TripTake 2018 Developed By:
                    <a href="mailto:belmont.xwang@gmail.com">Xin Wang</a>
                </p>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mynavbar" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right collapsed">
                    <li>
                        <img class="powered-icon" src="/image/html5.jpg" alt="html5">
                        <img class="powered-icon" src="/image/css3.jpg" alt="css3">
                        <img class="powered-icon" src="/image/js.jpg" alt="javascript">
                        <img class="powered-icon" src="/image/bootstrap.jpg" alt="bootstrap">
                        <img class="powered-icon" src="/image/jquery.jpg" alt="jquery">
                    </li>
                    <li>
                        <img class="powered-icon" src="/image/mongodb.jpg" alt="Mongodb">
                        <img class="powered-icon" src="/image/expressjs.jpg" alt="expressjs">
                        <img class="powered-icon" src="/image/nodejs.jpg" alt="nodejs">
                        <img class="powered-icon" src="/image/npm.jpg" alt="npm">
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</footer>