<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container main">
    <div class="row">
        <% include ../partials/flash %>
        <div class="form-container">
            <form action="/moments/<%= moment._id %>/comments" method="POST" role="form">
                <legend style="text-align: center;">Add New Comment to <%= moment.name %></legend>

                <div class="form-group">
                    <label for="text">Comment</label>
                    <textarea class="form-control" name="comment[text]" id="text" placeholder="Enter comment here" rows="10" required></textarea>
                </div>

                <div class="wrapper text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="/moments/<%= moment._id %>" class="btn btn-danger" role="button">Back To Moment</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

<% include ../partials/navbarBottom %>
<% include ../partials/footer %>