.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.form-container {
    width: 40%;
    margin: 0 auto;
}

.powered-icon {
    width: 40px;
    height: 40px;
    margin: 5px 0;
}

.mynavbar {
    text-align: center;
}

.mynavbar .nav {
    float: none;
}

.mynavbar .nav li {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

@media screen and (max-width:768px) {
    .navbar-brand {
        display: inline
    }
    .mynavbar .nav li {
        display: block;
        margin: 0
    }
    .mynavbar .nav li a {
        border-radius: 0;
        display: block;
        border-bottom: 1px solid #fff
    }
    .mynavbar li .mylogo {
        display: none;
    }
    footer .navbar-collapse {
        position: absolute;
        bottom: 50px;
        width: 100%;
    }
}

.delete-form {
    display: inline;
}

.container.main {
    margin-top: 4.5em;
    margin-bottom: 4.5em;
}

.alert {
    margin-bottom: 5px;
}

.navbar-nav>li>a.btn.btn-default {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 7px 0px;
}

form button .btn .btn-primary {
    display: inline-block;
}

div > form > legend {
    text-align: center;
}

.form-container {
    min-width: 330px;
}

#map {
    height: 400px;
    width: 100%;
}

.thumbnail > h1 {
    text-align: center;
}

.col-md-4 >.thumbnail > .caption {
    text-align: center;
    display: block;
}

