body {
    background-color: #3b3b3b;
    color: #f6f6f6;
}

.thumbnail img {

    border-radius: 15px;
}

.thumbnail {
    border: 0;
    background-color: #3b3b3b;

}

.thumbnail .caption {
    color: #f6f6f6;
}

.form-container {
    width: 40%;
    margin: 0 auto;
}

.powered-icon {
    width: 30px;
    height: 30px;
    margin: 2px 0;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
    min-height: 34px;
    border-top-color: royalblue;
}

#navbar-top {
    background-color: #2b2b2b;
    border-bottom-color: royalblue;
    color: #f6f6f6;
}

p.navbar-text.navbar-left {
    margin: 10px 15px;
    font-size: 7px;
}

.jumbotron {
    background-color: #2b2b2b;
    color: #f6f6f6;
}

.mynavbar {
    text-align: center;
}

.mynavbar .nav {
    float: none;
}

.mynavbar .nav li {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

@media screen and (max-width:768px) {
    .navbar-brand {
        display: inline
    }
    .mynavbar .nav li {
        display: block;
        margin: 0
    }
    .mynavbar .nav li a {
        border-radius: 0;
        display: block;
        border-bottom: 1px solid #fff
    }
    .mynavbar li .mylogo {
        display: none;
    }
    footer .navbar-collapse {
        position: absolute;
        bottom: 50px;
        width: 100%;
    }
}

.delete-form {
    display: inline;
}

.container.main {
    margin-top: 4.5em;
    margin-bottom: 4.5em;
}

.alert {
    margin-bottom: 5px;
}

.navbar-nav>li>a.btn.btn-default {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 7px 0px;
}

form button .btn .btn-primary {
    display: inline-block;
}

div > form > legend {
    text-align: center;
    color: #f6f6f6;
}

.form-container {
    min-width: 330px;
}

#map {
    height: 400px;
    width: 100%;
}

.thumbnail > h1 {
    text-align: center;
}

.col-md-4 >.thumbnail > .caption {
    text-align: center;
    display: block;
}

.btn .btn-primary {
    display: block;
    width: 100%;
    padding: 6px auto;
}

div .well {
    background-color: #2b2b2b;
    border: 0;
}

div .well > hr {
    border-color: royalblue;
}

div.list-group > .list-group-item {
    background-color: #2b2b2b;
    color: #f6f6f6;
    border: 0;
}

ul.nav.navbar-nav.navbar-right>li>a.btn.btn-default {
    color: royalblue;
}